{% extends 'base.html.twig' %}

{% block title %}Trade Unit {{ tradeunit.id }}{% endblock %}

{% block body %}
  <table class="table col-12 col-sm-6">
    <tbody>
      <tr>
          <th>Open Date</th>
          <td>
            <a href="{{ path('portfolio_statements_history', {'portfolio': portfolio.id, 'year': tradeunit.openingDate|date('Y'), 'month': tradeunit.openingDate|date('m'), '_fragment': 'date' ~ tradeunit.openingDate|date('Ymd') }) }}">
                {{ tradeunit.openingDate ? tradeunit.openingDate|date('d-m-Y H:i:s') : '' }}
            </a>
        </td>
</tr>
      <tr>
          <th>Close Date</th>
          <td>
            <a href="{{ path('portfolio_statements_history', {'portfolio': portfolio.id, 'year': tradeunit.closingDate|date('Y'), 'month': tradeunit.closingDate|date('m'), '_fragment': 'date' ~ tradeunit.closingDate|date('Ymd') }) }}">
                {{ tradeunit.closingDate ? tradeunit.closingDate|date('d-m-Y H:i:s') : '' }}
            </a>
        </td>
      </tr>
      <tr>
          <th>Status</th>
          <td class="text-left">{{ tradeunit.StatusText }}</td>
      </tr>
      <tr>
          <th>Strategy</th>
          <td class="text-left">{{ tradeunit.StrategyName }}</td>
      </tr>
      <tr>
          <th>Symbol</th>
          <td class="text-left">
              <a href="{{ path('portfolio_symbol_dashboard', { 'portfolio': tradeunit.portfolio.id, 'stock': tradeunit.symbol.id, '_fragment': 'trade' ~ tradeunit.id }) }}">
                {{ tradeunit.symbol }}
              </a>
          </td>
      </tr>
      <tr>
          <th>Currency</th>
          <td class="text-left">{{ tradeunit.currency }}</td>
      </tr>
      <tr>
          <th>Risk</th>
          <td class="text-left">{{ tradeunit.risk|my_integer_format }}</td>
      </tr>
      <tr>
          <th>Duration</th>
          <td class="text-left">{{ tradeunit.duration|my_integer_format }}</td>
      </tr>
      <tr>
          <th>PnL</th>
          <td class="text-left">{{ tradeunit.PnL|my_decimal_format_2d }}</td>
      </tr>
      <tr>
          <th>RoR</th>
          <td class="text-left">{{ tradeunit.RoR|my_percent_format }}</td>
      </tr>
      <tr>
          <th>Annual RoR</th>
          <td class="text-left">{{ tradeunit.AnnualRoR|my_percent_format }}</td>
      </tr>
      <tr>
          <th>Notes</th>
          <td class="text-left">{{ tradeunit.comment }}</td>
      </tr>
    </tbody>
  </table>
  <nav><ul class="pagination">
    <li class="page-item"><a class="page-link mb-3" href="{{ path('portfolio_trades_index', {'id': tradeunit.portfolio.id}) }}"><span data-feather="arrow-left"></span></a></li>
    <li class="page-item"><a class="page-link mb-3" href="{{ path('portfolio_tradeunit_edit', {'tradeunit': tradeunit.id}) }}"><span data-feather="edit-2"></span></a></li>
    <li class="page-item">{{ include('tradeunit/_delete_form.html.twig') }}</li>
  </ul></nav>

  {% set statements = tradeunit.openingTrades %}
  <h2>Statements ({{ statements|length }})</h2>
  {% include('statement/_statements_table.html.twig') %}

  <h2>Open Positions ({{ checksums|length }})</h2>
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
        <tr class="text-center">
          <th>Symbol</th>
          <th>Name</th>
          <th>Position</th>
        </tr>
    </thead>
    <tbody>
    {% for checksum in checksums %}
        <tr>
        <td>{{ checksum.symbol }}</td>
        <td>{{ checksum.name }}</td>
        <td>{{ checksum.count }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
