{% extends 'base.html.twig' %}

{% block title %}Trade Unit {{ tradeunit.id }}{% endblock %}

{% block body %}
  <table class="table col-12 col-sm-6">
    <tbody>
      <tr>
          <th>Open Date</th>
          <td class="text-left">{{ tradeunit.openingDate|date('d-m-Y H:i:s') }}</td>
      </tr>
      <tr>
          <th>Close Date</th>
          <td class="text-left">{{ tradeunit.closingDate ? tradeunit.closingDate|date('d-m-Y H:i:s') : '' }}</td>
      </tr>
      <tr>
          <th>Status</th>
          <td class="text-left">{{ tradeunit.StatusText }}</td>
      </tr>
      <tr>
          <th>Strategy</th>
          <td class="text-left">{{ tradeunit.StrategyName }}</td>
      </tr>
      <tr>
          <th>Symbol</th>
          <td class="text-left">
              <a href="{{ path('portfolio_symbol_dashboard', {'portfolio': tradeunit.portfolio.id, 'stock': tradeunit.symbol.id}) }}">
                {{ tradeunit.symbol }}
              </a>
          </td>
      </tr>
      <tr>
          <th>Currency</th>
          <td class="text-left">{{ tradeunit.currency }}</td>
      </tr>
      <tr>
          <th>Risk</th>
          <td class="text-left">{{ tradeunit.risk|my_integer_format }}</td>
      </tr>
      <tr>
          <th>Duration</th>
          <td class="text-left">{{ tradeunit.duration|my_integer_format }}</td>
      </tr>
      <tr>
          <th>PnL</th>
          <td class="text-left">{{ tradeunit.PnL|my_decimal_format_2d }}</td>
      </tr>
      <tr>
          <th>RoR</th>
          <td class="text-left">{{ tradeunit.RoR|my_percent_format }}</td>
      </tr>
      <tr>
          <th>Annual RoR</th>
          <td class="text-left">{{ tradeunit.AnnualRoR|my_percent_format }}</td>
      </tr>
    </tbody>
  </table>
  {% set statements = tradeunit.openingTrades %}
  {% include('statement/_statements_table.html.twig') %}
  <nav><ul class="pagination">
    <li class="page-item"><a class="page-link mb-3" href="{{ path('portfolio_trades_index', {'id': tradeunit.portfolio.id}) }}"><span data-feather="arrow-left"></span></a></li>
    <li class="page-item"><a class="page-link mb-3" href="{{ path('portfolio_tradeunit_edit', {'tradeunit': tradeunit.id}) }}"><span data-feather="edit-2"></span></a></li>
    <li class="page-item">{{ include('tradeunit/_delete_form.html.twig') }}</li>
  </ul></nav>
{% endblock %}
