{% extends 'base.html.twig' %}

{% block title %}Portfolio index ({{ portfolios|length }}){% endblock %}

{% block body %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
      <thead>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Account</th>
              <th>Currency</th>
              <th>actions</th>
          </tr>
      </thead>
      <tbody>
        {% for portfolio in portfolios %}
          <tr>
              <td><a href="{{ path('portfolio_show', {'id': portfolio.id}) }}">{{ portfolio.id }}</a></td>
              <td><a href="{{ path('portfolio_show', {'id': portfolio.id}) }}">{{ portfolio.name }}</a></td>
              <td>{{ portfolio.account|masq }}</td>
              <td>{{ portfolio.baseCurrency }}</td>
              <td>
                  <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}"><span data-feather="search"></span></a>
                  {% if app.user and (app.user.isOwner(portfolio) or is_granted('ROLE_SUPER_ADMIN')) %}
                    <a href="{{ path('portfolio_edit', {'id': portfolio.id}) }}"><span data-feather="edit-2"></span></a>
                    <form class="form-inline" id="row{{portfolio.id}}" method="post" action="{{ path('portfolio_delete', {'id': portfolio.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ portfolio.id) }}">
                        <a href="#" onclick="delete_item('row{{portfolio.id}}')"><span data-feather='trash-2' ></span></a>
                    </form>
                  {% endif %}
              </td>
          </tr>
        {% else %}
          <tr>
              <td colspan="3">no records found</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
<a href="{{ path('portfolio_new') }}"><span data-feather="plus-square"></span></a>
{% endblock body %}
