<h4>Position {{ position.id }}</h4>
{# code shared between position/_option_position.html.twig and portfolio/_show_options.html.twig #}
{% set position_value = position.value %}
{% set position_pnl = position.PNL %}
{% set position_engaged = -position.quantity * position.contract.strike * position.contract.multiplier %}
{% set maturity = position.contract.daysToMaturity %}
{% if position.contract.type == 'C' or position.quantity > 0 %}
  {% set position_engaged = 0 %}
  {% set position_assignable = 0 %}
{% endif %}
{% if position.contract.moneyShortLabel == 'ITM' %}
  {% if position.quantity > 0 %}
    {% set row_style = 'background-color:Azure;' %}
    {% set position_assignable = 0 %}
  {% else %}
    {% set row_style = 'background-color:LightPink;' %}
    {% set position_assignable = -position.quantity * position.contract.strike * position.contract.multiplier * position.contract.delta %}
  {% endif %}
{% elseif position.contract.moneyShortLabel == 'OTM' %}
  {% if position.quantity < 0 %}
    {% set row_style = 'background-color:Azure;' %}
    {% set position_assignable = 0 %}
  {% else %}
    {% set row_style = 'background-color:LightPink;' %}
    {% set position_assignable = -position.quantity * position.contract.strike * position.contract.multiplier * position.contract.delta %}
  {% endif %}
{% else %}
  {% set row_style = 'background-color:LavenderBlush;' %}
  {% set position_assignable = -position.quantity * position.contract.strike * position.contract.multiplier %}
{% endif %}
<table class="table">
  <tbody>
    <tr>
        <th>Open Date</th>
        <td class="text-right">{{ position.openDate|format_date('dd-MM-y') }}</td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td class="text-right">{{ position.quantity }}</td>
    </tr>
    <tr>
        <th>PRU</th>
        <td class="text-right">{{ position.PRU|my_decimal_format_2d }}</td>
    </tr>
    <tr>
        <th>Cost</th>
        <td class="text-right">{{ position.cost|my_decimal_format_2d }}</td>
    </tr>
    <tr>
        <th>Value</th>
        <td class="text-right">{{ position_value|my_decimal_format_2d }}</td>
    </tr>
    <tr>
        <th>P/L</th>
        <td class="{{ position_pnl|my_number_class_2colors }}">{{ position_pnl|my_decimal_format_2d }}</td>
    </tr>
        <th>Engaged</th>
        <td class="text-right">{{ position_engaged|my_decimal_format_2d }}</td>
    </tr>
    <tr>
        <th>Assignable</th>
        <td class="{{ (-position_assignable)|my_number_class_2colors }}">{{ position_assignable|my_decimal_format_2d }}</td>
    </tr>
    <tr>
        <th>Yield (annual)</th>
        <td class="text-right">{{ position.yield|my_percent_format }}</td>
    </tr>
    <tr>
        <th>Updated</th>
        <td>{{ position.updatedAt|date('d-m-Y H:i:s') }}</td>
    </tr>
    <tr>
        <th>Created</th>
        <td>{{ position.createdAt|date('d-m-Y H:i:s') }}</td>
    </tr>
  </tbody>
</table>
