<tr class='Xtable-subtotal bg-secondary'>
  <td></td>
  <td>Sub-Total</td>
  <td>at</td>
  <td>{{ sub_total_options_date | format_date('dd-MM-y') }}</td>
  <td>in</td>
  <td>{{ portfolio.baseCurrency }}</td>
  <td></td>
  <td class="text-right">{{ sub_total_options_cost|my_decimal_format_2d }}</td>
  <td class="text-right">{{ sub_total_options_value|my_decimal_format_2d }}</td>
  <td class="text-right">{{ sub_total_options_pnl|my_decimal_format_2d }}</td>
  <td></td>
  <td class="text-right">{{ sub_total_options_engaged|my_integer_format }}</td>
  <td class="{{ sub_total_options_assignable|my_number_class }}">{{ sub_total_options_assignable|my_integer_format }}</td>
  <td></td>
</tr>
