<h4>Position {{ position.id }}</h4>
{% set position_value = position.value %}
{% set position_pnl = position_value - position.cost %}
<table class="table">
    <tbody>
        {% if position.contract %}
            <tr>
                <th>Stock</th>
                <td>
                    {% if portfolio is defined %}
                        <a
                            href="{{ path('portfolio_symbol_dashboard', {'portfolio': portfolio.id, 'stock': position.contract.id, '_fragment': 'stmt' ~ position.id }) }}">
                            {{ position.contract.symbol }}
                        </a>
                    {% else %}
                        {{ position.contract.symbol }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Open Date</th>
            <td class="text-right">{{ position.openDate|format_date('dd-MM-y') }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td class="text-right">{{ position.quantity }}</td>
        </tr>
        <tr>
            <th>PRU</th>
            <td class="text-right">{{ position.PRU|my_decimal_format_2d }}</td>
        </tr>
        <tr>
            <th>Cost</th>
            <td class="text-right">{{ position.cost|my_decimal_format_2d }}</td>
        </tr>
        <tr>
            <th>Value</th>
            <td class="text-right">{{ position_value|my_decimal_format_2d }}</td>
        </tr>
        <tr>
            <th>P/L</th>
            <td class="{{ position_pnl|my_number_class_2colors }}">{{ position_pnl|my_decimal_format_2d }}</td>
        </tr>
        <tr>
            <th>TTM Dividend</th>
            <td class="text-right">{{ (position.contract.dividendTTM * position.quantity)|my_decimal_format_2d }}</td>
        </tr>
        <tr>
            <th>Trade</th>
            <td>
                {% if (position.TradeUnit is not null) and (position.TradeUnit.Id > 0) %}
                <a href="{{ path('portfolio_tradeunit_show', {'tradeunit': position.TradeUnit.Id }) }}">{{
                    position.TradeUnit.Id }}</a>
                <a href="{{ path('portfolio_position_unlinktradeunit', {'id': position.id}) }}"><span
                        data-feather='trash-2'></span></a>
                {% else %}
                <a href="{{ path('portfolio_position_createtradeunit', {'id': position.id}) }}"><span
                        data-feather="plus-square"></span></a>
                <a href="{{ path('portfolio_position_guesstradeunit', {'id': position.id}) }}"><span
                        data-feather="help-circle"></span></a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ position.updatedAt|date('d-m-Y H:i:s') }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ position.createdAt|date('d-m-Y H:i:s') }}</td>
        </tr>
    </tbody>
</table>
