{# beginning page content #}
<div class="row page-content">
{# leftmenu #}
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-lg-block bg-secondary sidebar collapse">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column border-bottom d-lg-none">
        <li class="nav-item">
          <a class="nav-link" href="/"><span data-feather="home"></span> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if app.request.attributes.get('_route') starts with 'sonata_news' %}active{% endif %}">
          <a class="nav-link" href="{{ path('sonata_news_home') }}"><span data-feather="file-text"></span> Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'portfolio_index' %}active{% endif %}" href="{{ path('portfolio_index') }}"><span data-feather="activity"></span> Portfolios</a>
        </li>
      </ul>
      {{ include('app_inner_portfolio_menu.html.twig') }}
      {{ include('app_inner_database_menu.html.twig') }}
    </div>
  </nav>
{# leftmenu #}{# page content #}
  <main role="main" class="ml-sm-auto col-md-12 px-md-4 col-lg-10">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h1 class="h2">{% block title %}{% endblock title %}</h1>
    </div>
    {% block body %}{% endblock body %}
  </main>
</div>
{# footer #}
  <div class="row d-none">
    <div class="col-6 col-md-3">{{ include('app_inner_database_menu.html.twig') }}</div>
    <div class="col-6 col-md-3">{{ include('app_inner_portfolio_menu.html.twig') }}</div>
  </div>
{# end page content #}
