{% extends 'base.html.twig' %}

{% block title %}OpenOrder index{% endblock %}

{% block body %}
    <h1>OpenOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PermId</th>
                <th>ClientId</th>
                <th>OrderId</th>
                <th>ActionType</th>
                <th>TotalQty</th>
                <th>CashQty</th>
                <th>LmtPrice</th>
                <th>AuxPrice</th>
                <th>Status</th>
                <th>RemainingQty</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for open_order in open_orders %}
            <tr>
                <td>{{ open_order.id }}</td>
                <td>{{ open_order.PermId }}</td>
                <td>{{ open_order.ClientId }}</td>
                <td>{{ open_order.OrderId }}</td>
                <td>{{ open_order.ActionType }}</td>
                <td>{{ open_order.TotalQty }}</td>
                <td>{{ open_order.CashQty }}</td>
                <td>{{ open_order.LmtPrice }}</td>
                <td>{{ open_order.AuxPrice }}</td>
                <td>{{ open_order.Status }}</td>
                <td>{{ open_order.RemainingQty }}</td>
                <td>
                    <a href="{{ path('open_order_show', {'id': open_order.id}) }}">show</a>
                    <a href="{{ path('open_order_edit', {'id': open_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('open_order_new') }}">Create new</a>
{% endblock %}
