{% extends 'base.html.twig' %}

{% block title %}OpenOrder{% endblock %}

{% block body %}
    {% set item_size='col-12 col-sm-6 col-lg-4' %}
    <div class="row">
    <div class="{{ item_size }}">
        <h4>OpenOrder {{ open_order.id }}</h4>
        <table class="table">
        <tbody>
            <tr>
                <th>PermId</th>
                <td>{{ open_order.PermId }}</td>
            </tr>
            <tr>
                <th>ClientId</th>
                <td>{{ open_order.ClientId }}</td>
            </tr>
            <tr>
                <th>OrderId</th>
                <td>{{ open_order.OrderId }}</td>
            </tr>
            <tr>
                <th>Contract</th>
                <td>{{ open_order.contract.symbol }}</td>
            </tr>
            <tr>
                <th>ActionType</th>
                <td>{{ open_order.ActionType }}</td>
            </tr>
            <tr>
                <th>TotalQty</th>
                <td>{{ open_order.TotalQty }}</td>
            </tr>
            <tr>
                <th>CashQty</th>
                <td>{{ open_order.CashQty }}</td>
            </tr>
            <tr>
                <th>LmtPrice</th>
                <td>{{ open_order.LmtPrice }}</td>
            </tr>
            <tr>
                <th>AuxPrice</th>
                <td>{{ open_order.AuxPrice }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ open_order.Status }}</td>
            </tr>
            <tr>
                <th>RemainingQty</th>
                <td>{{ open_order.RemainingQty }}</td>
            </tr>
        </tbody>
    </table>
    <nav><ul class="pagination">
        <li class="page-item"><a class="page-link mb-3" href="{{ path('portfolio_orders_index', {'id': open_order.account.id}) }}"><span data-feather="arrow-left"></span></a></li>
        <li class="page-item"><a class="page-link mb-3" href="{{ path('portfolio_order_edit', {'id': open_order.id}) }}"><span data-feather="edit-2"></span></a></li>
        <li class="page-item">{{ include('open_order/_delete_form.html.twig') }}</li>
    </ul></nav>
    </div>
    {% if open_order.contract.secType == 'OPT' %}
      <div class="{{ item_size }}">
        {% set option = open_order.contract %}
        {% set stock = open_order.contract.stock %}
  		{{ include('option/_option_contract.html.twig') }}

        <nav><ul class="pagination">
        <li class="page-item"><a class="page-link mb-3" href="{{ path('repository_option_show', {'id': option.id}) }}"><span data-feather="search"></span></a></li>
        <li class="page-item"><a class="page-link mb-3" href="{{ path('repository_option_edit', {'id': option.id}) }}"><span data-feather="edit-2"></span></a></li>
        </ul></nav>
      </div>
    {% else %}
        {% set stock = open_order.contract %}
    {% endif %}
    <div class="{{ item_size }}">
		{{ include('stock/_stock_contract.html.twig') }}
        <nav><ul class="pagination">
            <li class="page-item"><a class="page-link mb-3" href="{{ path('repository_stock_show', {'id': stock.id}) }}"><span data-feather="search"></span></a></li>
            <li class="page-item"><a class="page-link mb-3" href="{{ path('repository_stock_edit', {'id': stock.id}) }}"><span data-feather="edit-2"></span></a></li>
        </ul></nav>
  	</div>
    </div>
{% endblock %}
