{% extends 'base.html.twig' %}

{% block title %}OpenOrder{% endblock %}

{% block body %}
    <h1>OpenOrder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ open_order.id }}</td>
            </tr>
            <tr>
                <th>PermId</th>
                <td>{{ open_order.PermId }}</td>
            </tr>
            <tr>
                <th>ClientId</th>
                <td>{{ open_order.ClientId }}</td>
            </tr>
            <tr>
                <th>OrderId</th>
                <td>{{ open_order.OrderId }}</td>
            </tr>
            <tr>
                <th>Contract</th>
                <td>{{ open_order.contract.symbol }}</td>
            </tr>
            <tr>
                <th>ActionType</th>
                <td>{{ open_order.ActionType }}</td>
            </tr>
            <tr>
                <th>TotalQty</th>
                <td>{{ open_order.TotalQty }}</td>
            </tr>
            <tr>
                <th>CashQty</th>
                <td>{{ open_order.CashQty }}</td>
            </tr>
            <tr>
                <th>LmtPrice</th>
                <td>{{ open_order.LmtPrice }}</td>
            </tr>
            <tr>
                <th>AuxPrice</th>
                <td>{{ open_order.AuxPrice }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ open_order.Status }}</td>
            </tr>
            <tr>
                <th>RemainingQty</th>
                <td>{{ open_order.RemainingQty }}</td>
            </tr>
        </tbody>
    </table>
    <nav><ul class="pagination">
        <li class="page-item"><a class="page-link mb-3" href="{{ path('portfolio_orders_index', {'id': open_order.account.id}) }}"><span data-feather="arrow-left"></span></a></li>
        <li class="page-item"><a class="page-link mb-3" href="{{ path('portfolio_order_edit', {'id': open_order.id}) }}"><span data-feather="edit-2"></span></a></li>
        <li class="page-item">{{ include('open_order/_delete_form.html.twig') }}</li>
    </ul></nav>
{% endblock %}
