<h4>Stock {{ stock.id }}</h4>
<table class="table">
    <tbody>
        <tr>
            <th>Contract ID</th>
            <td class="text-right">{{ stock.conId }}</td>
        </tr>
        <tr>
            <th>Symbol</th>
            <td class="text-right">
                <a href="{{ path('portfolio_symbol_dashboard', {'portfolio': portfolio.id, 'stock': stock.id}) }}">
                     {{ stock.symbol }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ stock.name }}</td>
        </tr>
        <tr>
            <th>Exchange</th>
            <td class="text-right">{{ stock.exchange }}</td>
        </tr>
        <tr>
            <th>Currency</th>
            <td class="text-right">{{ stock.currency }}</td>
        </tr>
        {% if stock.lastTradeDate is defined %}
            <tr>
                <th>Last Trade Date</th>
                <td class="text-right">{{ stock.lastTradeDate|date('d-m-Y H:i:s') }}</td>
            </tr>
        {% endif %}
        {% if stock.HistoricalVolatility is defined %}
            <tr>
                <th>Historical volatility</th>
                <td class="text-right">{{ stock.HistoricalVolatility|my_percent_format }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Ask</th>
            <td class="text-right">{{ stock.ask|my_decimal_format_2d }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td class="{{ stock.changePercent|my_number_class_2colors }} font-weight-bold">{{ stock.price|my_decimal_format_2d }}</td>
        </tr>
        <tr>
            <th>Bid</th>
            <td class="text-right">{{ stock.bid|my_decimal_format_2d }}</td>
        </tr>
        <tr>
            <th>Previous close</th>
            <td class="text-right">{{ stock.previousClosePrice|my_decimal_format_2d }}</td>
        </tr>
        <tr>
            <th>% change</th>
            <td class="{{ stock.changePercent|my_number_class_2colors }}">{{ stock.changePercent|my_percent_format }}</td>
        </tr>
        <tr>
            <th>52 week high</th>
            <td class="text-right">{{ stock.fiftyTwoWeekHigh|my_decimal_format_2d }}</td>
        </tr>
        <tr>
            <th>52 week low</th>
            <td class="text-right">{{ stock.fiftyTwoWeekLow|my_decimal_format_2d }}</td>
        </tr>
        {% if stock.dividendTTM is defined %}
            <tr>
                <th>TTM dividend</th>
                <td class="text-right">{{ stock.dividendTTM }}</td>
            </tr>
        {% endif %}
        {% if stock.dividendYield is defined %}
            <tr>
                <th>Dividend yield</th>
                <td class="text-right">{{ stock.dividendYield|my_percent_format }}</td>
            </tr>
        {% endif %}
        {% if stock.epsTTM is defined %}
            <tr>
                <th>TTM EPS</th>
                <td class="text-right">{{ stock.epsTTM }}</td>
            </tr>
        {% endif %}
        {% if stock.epsForward is defined %}
            <tr>
                <th>Forward EPS</th>
                <td class="text-right">{{ stock.epsForward }}</td>
            </tr>
        {% endif %}
        {% if stock.description is defined %}
            <tr>
                <th>Description</th>
                <td>{{ stock.description }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Updated</th>
            <td class="text-right">
                {% if stock.updatedAt %}
                    {{ stock.updatedAt|date('d-m-Y H:i:s') }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td class="text-right">
                {% if stock.createdAt %}
                    {{ stock.createdAt|date('d-m-Y H:i:s') }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
